@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.page-view-article{
  padding: 30px 50px;
}
.page-view-article h1{
  text-align: center;
}
.page-view-article p{
  line-height: 2;
  font-size: 18px;
}
.page-view-article ol{
  line-height: 2;
  font-size: 18px;
}